/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: 10px;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Container */
.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background:yellowgreen;
    color:orangered;
    padding: 10px 0;
    text-align: center;
    
}

header nav {
    background: red;
    padding: 10px 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: green;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.header-content {
    text-align: center;
    padding: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 90%;
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
}

header p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Sections */
section {
    padding: 40px 0;
}

section h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    text-align: center;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project img {
    width: 100%;
    height: auto;
    max-width: 300px;
    display: block;
    margin-right: 20px;
}

.project-info {
    max-width: 600px;
    color: black;
    
}

.project h3 {
    margin: 10px 0;
}

.project p {
    font-size: 0.9em;
}

#contact a {
    color:blue;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}
/* Links Section */
#links {
    background: wheat;
    padding: 40px 0;
    text-align: center;
}

#links h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.link-item {
    margin: 10px 0;
}

.link-item a {
    color:rgb(53, 53, 59);
    text-decoration: none;
    font-size: 1.1em;
}

.link-item a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background: violet;
    color:black;
    text-align: center;
    padding: 10px 0;
}

#image{
    border: 4px solid red;
}

#projects{
    background-color: aqua;
}
#contact{
    background-color: palevioletred;
}
#about{
    background-color: palevioletred;
}